body {
	background-color: #bbb;
}

#container {
  background-color: #000;
	border: 1px solid #000;
	width: 160px;
	height: 160px;
}

.text-frame {
  position: relative;
  width: 158px;
  top: 0em;
  height: 0em;
  transition: top .3s, height .3s, visibility .3s;

  display: flex;
  flex-direction: column;
  overflow: none;

  border-style: solid;
  border-width: 2px;
  background: white;

  cursor: pointer;
}

.text-frame.in {
  top: -4.7em;
  height: 4.7em;
  border-radius: 4px 4px 0 0;
  transition: top .3s, height .3s, visibility 0s;
}

.text-message {
  font-family: Lato;
  margin: 2px 14px 0 4px;
  visibility: hidden;
}

.text-frame.in>.text-message {
  visibility: visible;
  transition: visibility .3s step-end;
}

#text-indicator {
  position: relative;
  margin-left: auto;
  right: 4px;
  top: -1.5em;
  visibility: hidden;
}

#text-indicator.in {
  visibility: visible;
  transition: visibility .3s step-end;
  animation: blinking 1.5s linear infinite;
}

@keyframes blinking {
  50% { opacity: 0; }
}
